body, html, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#description {
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

#main {
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

#code-block {
  margin: 10px auto;
  width: 80%;
}

#code-block h3 {
  text-align: center;
}

#canvas {
  padding: 10px;
  margin: 10px;
  border: 5px solid;
}

#colors {
  text-align: center;
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  vertical-align: middle;
}

.color-row {
  line-height: 32px;
  display: inline-block;
}

.color-row span {
  vertical-align: middle;
  display: inline-block;
}
